<div
  class="relative transition-opacity ease-linear duration-300 lg:hidden {{if @isExpanded 'opacity-100 z-50' 'opacity-0 -z-50'}}"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-900/80"></div>
  <div class="fixed inset-0 flex">
    <div class="relative mr-16 flex w-64 max-w-xs flex-1">
      <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
        <button
          type="button"
          class="-m-2.5 p-2.5"
          {{on "click" @handleExpandNavigation}}
        >
          <span class="sr-only">Close sidebar</span>
          <svg
            class="h-6 w-6 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      {{! Sidebar component, swap this element with another sidebar if you like }}
      <div class="flex grow flex-col overflow-y-auto bg-selected-sample-background-color">
        <div class="sidebar-header">
          <span class="leading-6 font-bold uppercase">Sample Name</span>
        </div>
        <nav class="flex flex-1 flex-col">
          <ul role="list" class="flex flex-1 flex-col">
            <li>
              <ul role="list" class="-mx-2">
                {{#each @items as |item|}}
                  <li>
                    <a 
                      href="#"
                      class="sidebar-item {{if (eq @selectedItemId item.id) 'selected' 'unselected'}}"
                      {{on "click" (fn @handleSelectItem item.id)}}
                    >
                      {{item.type}} {{item.id}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-64 lg:flex-col">
  <div class="flex flex-col overflow-y-scroll overflow-x-hidden bg-selected-sample-background-color">
    <div class="sidebar-header">
      <span class="leading-6 font-bold uppercase">Sample Name</span>
    </div>
    <nav class="flex flex-col">
      <ul role="list" class="flex flex-1 flex-col">
        <li>
          <ul role="list" class="-mx-2">
            {{#each @items as |item|}}
              <li>
                <a 
                  href="#"
                  class="sidebar-item {{if (eq @selectedItemId item.id) 'selected' 'unselected'}}"
                  {{on "click" (fn @handleSelectItem item.id)}}
                >
                  {{item.type}} {{item.id}}
                </a>
              </li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>