{{page-title "Hyrax Assessment"}}

<div>
  <Sidebar
    @isExpanded={{this.isSidebarExpanded}}
    @selectedItemId={{this.selectedItemId}}
    @handleExpandNavigation={{action this.handleExpandNavigation}}
    @handleSelectItem={{action this.handleSelectItem}}
    @items={{@model.samples}}
  />

  <div class="lg:pl-64">
    <Header @handleExpandNavigation={{action this.handleExpandNavigation}}/>

    <main class="py-10">
      <div class="px-4 sm:px-6 lg:px-8">
        {{outlet}}
      </div>
    </main>
  </div>
</div>