{{page-title "Hyrax Assessment"}}

<div>
  <Sidebar
    @items={{@model.samples}}
    @keyword={{this.keyword}}
    @isExpanded={{this.isSidebarExpanded}}
    @selectedItemId={{this.selectedItemId}}
    @handleSelectItem={{action this.handleSelectItem}}
    @handleKeywordReset={{action this.handleKeywordReset}}
    @handleKeywordChange={{action this.handleKeywordChange}}
    @handleExpandNavigation={{action this.handleExpandNavigation}}
  />

  <div class="lg:pl-64">
    <Header @handleExpandNavigation={{action this.handleExpandNavigation}} />

    <main class="py-2">
      <div class="px-2">
        <TestViewer 
          @selectedTest={{this.selectedTest}} 
          @selectedItemId={{this.selectedItemId}}
          @selectedTestCalls={{this.selectedTestCalls}}
        />
      </div>
    </main>
  </div>
</div>